<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recetario | Bienvenido</title>
    
        <!-- FICHEROS CSS (ESTILOS) -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    </head>
<body>
    <div class="container">
        <!--Aqui va la web-->

        <!-- BEGIN: Cabecera -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="text-center">
                    <h1>Mis Recetas</h1>
                    <p>Buen Provecho</p>
                </div>
            </div>
        </div>
        <!-- END: Cabecera -->

        <div class="row mt-5">

            {% for categoria in categorias %}
            <div class="col-md-4 mt-2">
                <a href="{% url 'recetas:listado' categoria.id %}" class="text-decoration-none">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ categoria.nombre }}</h3>
                        </div>
                    </div>
                </a>
            </div>
           {% endfor %}

        </div>

    </div>

    <!-- FICHEROS JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</body>
</html>